<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Style.css" th:href="@{/css/Style.css}" />
</head>
<body>

<header>
    <div class="container">
        <div class="welcome-banner">
            <h1>Welcome to Chart Repository Service</h1>
        </div>
    </div>
</header>


<section class="my-5">
    <div class="container">
        <div class="input-label">
            <h2>Charts</h2>
        </div>

        <a th:href="@{/chart/Get}"  style="--i: 0.05s;">Get a chart</a>
        <a th:href="@{/chart/Post}"  style="--i: 0.05s;">Post a chart</a>

        <hr>

    </div>
</section>

</body>
</html>
