<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Style.css" th:href="@{/css/Style.css}" />
</head>
<body class="Error">

<header>
    <div class="container">
        <div class="welcome-banner">
            <h1>Welcome to Album Repository Service</h1>
        </div>
    </div>
</header>

<a th:href="@{/album/html/}"  style="--i: 0.05s;">Home</a>

<section class="my-5">
    <div class="container">
        <div class="input-label">
            <h2>Albums</h2>
        </div>
        <div class="result">
            <p class="message">Error with request!</p>

        </div>
    </div>
</section>


</body>
</html>