<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Style.css" th:href="@{/css/Style.css}" />
</head>
<body>

<header>
    <div class="container">
        <div class="welcome-banner">
            <h1>Welcome to Album Repository Service</h1>
        </div>
    </div>
</header>

<section class="my-5">
    <div class="container">
        <div class="input-label">
            <h2>Albums</h2>
        </div>
        <div class="result">
            <p th:text="${message}" th:if="${message ne null}" class="message"></p>

            <a th:href="@{/album/html/list}" class="list">VIEW ALBUM LIST</a>

            <div class="search">
                <form class="search-form" action="#" method="get" th:action="@{/album/html/find}" th:object="${album}">
                    <input type="text" th:field="*{ISRC}" />
                    <input type="text" th:field="*{title}" />
                    <input type="submit" class="search-btn" value="SEARCH" />
                </form>
            </div>

            <div class="create">
                <form class="create-form" action="#" method="post" th:action="@{/album/html/create}"
                      th:object="${album}" enctype="multipart/form-data">
                    <input type="text" th:field="*{ISRC}" />
                    <input type="text" th:field="*{title}" />
                    <input type="text" th:field="*{description}" />
                    <input type="text" th:field="*{year}" />
                    <input type="text" th:field="*{artist_first_name}" />
                    <input type="text" th:field="*{artist_last_name}" />
                    <input type="file" name="file" class="cover-image">
                    <input type="submit" class="create-btn" value="CREATE" />
                </form>
            </div>

            <div class="update">
                <form class="update-form" action="#" th:method="put" th:action="@{/album/html/update}" th:object="${album}">
                    <input type="text" th:field="*{ISRC}" />
                    <input type="text" th:field="*{title}" />
                    <input type="text" th:field="*{description}" />
                    <input type="text" th:field="*{year}" />
                    <input type="text" th:field="*{artist_first_name}" />
                    <input type="text" th:field="*{artist_last_name}" />
                    <input type="submit" class="update-btn" value="UPDATE" />
                </form>
            </div>

            <div class="delete">
                <form class="delete-form" action="#" th:method="delete" th:action="@{/album/html/delete}" th:object="${album}">
                    <input type="text" th:field="*{ISRC}" />
                    <input type="submit" class="delete-btn" value="DELETE" />
                </form>
            </div>


            <!--  Cover Image  -->
            <div class="search">
                <form class="search-form" action="#" method="get" th:action="@{/album/html/find/img}" th:object="${album}">
                    <input type="text" th:field="*{ISRC}" />
                    <input type="text" th:field="*{title}" />
                    <input type="submit" class="search-btn" value="SEARCH" />
                </form>
            </div>

            <div class="update">
                <form class="update-form" action="#" th:method="put" th:action="@{/album/html/update/img}" th:object="${album}" enctype="multipart/form-data">
                    <input type="text" th:field="*{ISRC}" />
                    <input type="file" name="file" class="cover-image">
                    <input type="submit" class="update-btn" value="UPDATE" />
                </form>
            </div>

            <div class="delete">
                <form class="delete-form" action="#" th:method="delete" th:action="@{/album/html/delete/img}" th:object="${album}">
                    <input type="text" th:field="*{ISRC}" />
                    <input type="submit" class="delete-btn" value="DELETE" />
                </form>
            </div>

        </div>
    </div>
</section>

</body>
</html>
