<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Style.css" th:href="@{/css/Style.css}" />
</head>
<body>

    <p>Hello World!</p>
    Home
    <hr>
    <!---->
    <a th:href="@{/album/list}">VIEW ALBUM LIST</a>

    <form action="#" method="get" th:action="@{/album/find}" th:object="${album}">
        <input type="text" th:field="*{ISRC}" />
        <input type="text" th:field="*{title}" />
        <input type="submit" class="search" value="SEARCH" />
    </form>

    <form action="#" method="post" th:action="@{/album/create}"
          th:object="${album}" enctype="multipart/form-data">
        <input type="text" th:field="*{ISRC}" />
        <input type="text" th:field="*{title}" />
        <input type="text" th:field="*{description}" />
        <input type="text" th:field="*{year}" />
        <input type="text" th:field="*{artist_first_name}" />
        <input type="text" th:field="*{artist_last_name}" />
        <input type="file" name="file" class="cover-image">
        <input type="submit" class="create" value="CREATE" />
    </form>

    <form action="#" th:method="put" th:action="@{/album/update}" th:object="${album}">
        <input type="text" th:field="*{ISRC}" />
        <input type="text" th:field="*{title}" />
        <input type="text" th:field="*{description}" />
        <input type="text" th:field="*{year}" />
        <input type="text" th:field="*{artist_first_name}" />
        <input type="text" th:field="*{artist_last_name}" />
        <input type="submit" class="update" value="UPDATE" />
    </form>

    <form action="#" th:method="delete" th:action="@{/album/delete}" th:object="${album}">
        <input type="text" th:field="*{ISRC}" />
        <input type="submit" class="delete" value="DELETE" />
    </form>

<!--  Cover Image  -->
    <form action="#" method="get" th:action="@{/album/find/img}" th:object="${album}">
        <input type="text" th:field="*{ISRC}" />
        <input type="text" th:field="*{title}" />
        <input type="submit" class="search" value="SEARCH" />
    </form>

    <form action="#" th:method="put" th:action="@{/album/update/img}" th:object="${album}" enctype="multipart/form-data">
        <input type="text" th:field="*{ISRC}" />
        <input type="file" name="file" class="cover-image">
        <input type="submit" class="update" value="UPDATE" />
    </form>

    <form action="#" th:method="delete" th:action="@{/album/delete/img}" th:object="${album}">
        <input type="text" th:field="*{ISRC}" />
        <input type="submit" class="delete" value="DELETE" />
    </form>
    <br/>



</body>
</html>
<br>
</body>
</html>