<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Style.css" th:href="@{/css/Style.css}" />
</head>
<body>

<header>
    <div class="container">
        <div class="welcome-banner">
            <h1>Welcome to the Album Repository Service</h1>
        </div>
    </div>
</header>

<section class="my-5">
    <div class="container">
        <div class="input-label">
          <h1>Albums</h1>
        </div>
        <h2>Created by: Ivan Gerasymenko, Febrian Francione, Kiho Lee</h2>
        <a th:href="@{/album/html/Get}"  style="--i: 0.05s;">Get an album</a>
        <a th:href="@{/album/html/list}"  style="--i: 0.05s;">Get all albums</a>
        <a th:href="@{/album/html/Post}"  style="--i: 0.05s;">Post an album</a>
        <a th:href="@{/album/html/Delete}"  style="--i: 0.05s;">Delete an album</a>
        <a th:href="@{/album/html/Modify}"  style="--i: 0.05s;">Modify an album</a>
        <a th:href="@{/album/html/Images}"  style="--i: 0.05s;">Cover Image Functionalities</a>
    </div>
</section>

</body>
</html>
