<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Hello World!</h1>
<hr>
<h2>Images</h2>
<table>
    <tr>
        <td th:text="${album.getISRC()}"/>
        <td th:text="${album.getCover_image_name()}"/>
        <td th:text="${album.getImage_mime()}"/>
    </tr>
</table>
<table>
    <tr>
        <td th:if="${album.getCover_image() != null}"><img class='img-thumbnail' style=" width: 200px;height: 200px; object-fit: fill;" th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(album.getCover_image())}"/></td>
        <td th:unless="${album.getCover_image() != null}"><img class='img-thumbnail' style=" width: 200px;height: 200px; object-fit: fill;" th:src="@{/img/spot_me.png}"/></td>
    </tr>
</table>
</body>
</html>