<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Style.css" th:href="@{/css/Style.css}" />
</head>
<body>
<header>
    <div class="container">
        <div class="welcome-banner">
            <h1>Welcome to Logs Repository Service</h1>
        </div>
    </div>
</header>


<section class="my-5">
    <div class="container">
        <div class="input-label">
            <h3><a th:href="@{/logs/getLogs/}"  style="--i: 0.05s;">get all logs</a></h3>
            <h3><a th:href="@{/album/html/}"  style="--i: 0.05s;">&nbsp;&nbsp;Albums Repository</a></h3><br>

        </div>
        <div class="result">
            <div class="message">
                <h3>Get Logs filtered by Dates</h3>
            </div>

            <div class="message">
                <form class="search-form" action="/logs/getLogsByDate" method="get">
                    <input placeholder="2020-10-01" type="text" name="from"/><br/>
                    <input placeholder="2020-10-01" type="text" name="to"/><br/>
                    <input type="submit" class="search-btn" value="SEARCH" />
                </form>
            </div>

            <div class="message">
                <h3>Get Logs filtered by Change Type</h3>
            </div>
            <div class="message">
                <form class="search-form" action="/logs/getLogsByChange" method="get">
                    <input placeholder="change" type="text" name="change"/><br/>
                    <input type="submit" class="search-btn" value="SEARCH" />
                </form>
            </div>

            <div class="message">
                <h3>Get Logs filtered by Dates and Change Type</h3>
            </div>

            <div class="message">
                <form class="search-form" action="/logs/getLogsByDateAndChange" method="get">
                    <input placeholder="2020-10-01" type="text" name="from"/><br/>
                    <input placeholder="2020-10-01" type="text" name="to"/><br/>
                    <input placeholder="change" type="text" name="change"/><br/>
                    <input type="submit" class="search-btn" value="SEARCH" />
                </form>
            </div>

            <div class="message">
                <h3>Clear all Logs from database</h3>
            </div>

            <div class="message">
                <form class="search-form" action="/logs/clearLogs" method="get">
                    <input type="submit" class="search-btn" value="CLEAR" />
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>