<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Style.css" th:href="@{/css/Style.css}" />
</head>
<body>
<header>
    <div class="container">
        <div class="welcome-banner">
            <h1>Welcome to Chart Repository Service</h1>
        </div>
    </div>
</header>

<a th:href="@{/chart/}"  style="--i: 0.05s;">Home</a>

<section class="my-5">
    <div class="container">
        <div class="input-label">
            <h2>Charts</h2>
        </div>

        <div class="create">
            <form class="create-form" action="#" method="post" th:action="@{/chart/create}">
                <input placeholder="width" type="text" name="width" />
                <input placeholder="height" type="text" name="height" />
                <select id="chartType" class="form-control" name="chartType">
                    <option value="" disabled selected>--Select--</option>
                    <option value="bar">bar</option>
                    <option value="line">line</option>
                    <option value="pie">pie</option>
                </select>
                <input type="submit" class="create-btn" value="CREATE" />
            </form>
        </div>

        <div class="result" th:if = "${posted}">
            <p class="message">Created new chart!</p>
            <p class="message"> chart URL :  <span th:text="${chartUrl}"></span></p>
        </div>
    </div>
</section>
</body>
</html>