<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Style.css" th:href="@{/css/Style.css}" />
</head>
<body>
<header>
    <div class="container">
        <div class="welcome-banner">
            <h1>Welcome to Album Test Service</h1>
        </div>
    </div>
</header>

<section class="my-5">
    <div class="container">
        <div class="input-label">
            <h2>Test</h2>
        </div>

    </div>
</section>



<!--    <img th:each="album1 : ${albumList}" class='img-thumbnail' style=" width: 200px;-->
<!--  height: 300px;-->
<!--  object-fit: cover;" th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(album.getCover_image())}"/>-->

<!--    <img th:src="@{/img/spot_me.png}"/>-->

</body>
</html>